/* Estilos Globales inspirados en Cinemark */
body {
    background-color: #f4f4f4;
    /* Cambiado a Arial Narrow que es más limpia para textos largos */
    font-family: 'Arial Narrow', Arial, sans-serif;
}

/* El contenedor principal (Hero Box) */
.hero-box {
    background-color: #ffffff;
    max-width: 900px;
    margin: 50px auto;
    padding: 60px 20px;
    border-radius: 8px;
    border-top: 5px solid #db0000;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1) !important;
}

/* Título Principal - AQUÍ APLICAMOS IMPACT */
.hero-box h1 {
    color: #222;
    font-family: 'Impact', sans-serif; /* <--- LA LETRA DE LA IMAGEN */
    text-transform: uppercase;
    letter-spacing: 1px; /* Un poco de aire para que no se peguen tanto */
    font-weight: normal !important; /* Impact ya es gruesa de por sí */
    font-size: 4rem; /* Un poco más grande para que luzca */
}

/* Estilo del Logo en Texto - TAMBIÉN EN IMPACT */
.brand-cine-python {
    font-family: 'Impact', sans-serif; /* <--- PARA QUE EL LOGO COINCIDA */
    font-size: 1.8rem;
    letter-spacing: 0.5px;
    color: #333 !important;
    text-decoration: none;
    text-transform: uppercase;
}

.brand-cine-python span {
    color: #db0000;
}

/* Descripción */
.hero-box p.lead {
    color: #666;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
}

/* Botones Personalizados */
.btn-lg {
    padding: 12px 30px;
    font-family: 'Impact', sans-serif; /* <--- BOTONES TAMBIÉN EN IMPACT */
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1rem;
    border-radius: 4px;
    transition: all 0.3s ease;
}

/* Botón Rojo */
.btn-primary-cinema {
    background-color: #db0000;
    border: none;
    color: white;
}

.btn-primary-cinema:hover {
    background-color: #b30000;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(219, 0, 0, 0.3);
}

/* Ajustes de los enlaces del Nav */
.navbar-nav .nav-link {
    font-family: 'Impact', sans-serif; /* <--- MENÚ EN IMPACT */
    letter-spacing: 0.5px;
    font-size: 0.95rem;
    color: #555 !important;
    padding: 0.5rem 1rem !important;
    transition: color 0.2s;
    text-transform: uppercase;
}

.navbar-nav .nav-link:hover, 
.navbar-nav .nav-link.active {
    color: #db0000 !important;
}

/* Botón Dark personalizado */
.btn-dark-cinema {
    background-color: #1a1a1a;
    color: white;
    border: none;
    font-family: 'Impact', sans-serif;
    letter-spacing: 1px;
}